body {
    background-color: #1b1e23;
}

.padding-top-card {
    padding-top: 15px;
}

.white-text {
    color: #fff;
}

.page-item a {
    background-color: #343a40;
    color: #fff;
}

.text-capitalize {
    text-transform: capitalize;
}

.cursor {
    cursor: pointer;
}